* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

:root {
  --primary: #00bf98;
  --secundary: #93d5f1;
  --terciary: #273d51;
  --white: #ffffff; }

body {
  background-color: white;
  height: 100%; }

html {
  box-sizing: border-box;
  font-size: 52.5%;
  font-family: "Pepi-Light", "Pepi-Medium", sans-serif;
  font-weight: 100 !important; }

@media (max-width: 430px) {
  html {
    box-sizing: border-box;
    font-size: 50%; } }

.fundsRecipents {
  color: black;
  display: flex;
  flex-direction: column;
  margin: 10rem 35rem; }
  .fundsRecipents__buttonBox {
    font-size: 1.6rem;
    align-self: center;
    width: 20rem;
    height: 5rem;
    background-color: var(--primary);
    color: white;
    border-radius: 3rem;
    border: none;
    transition: all 0.3s;
    cursor: pointer; }
    .fundsRecipents__buttonBox:hover {
      box-shadow: 0px 0.5rem 1rem 0 rgba(33, 33, 33, 0.102); }
    .fundsRecipents__buttonBox:focus {
      outline: none; }
    .fundsRecipents__buttonBox:active {
      transform: translateY(0.5rem); }

.funds__title {
  color: inherit;
  text-align: center;
  font-size: 5rem;
  font-weight: 100 !important; }

.funds__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
  flex-wrap: wrap; }
  .funds__container__middle {
    display: flex;
    flex: 1;
    flex-direction: column; }
    .funds__container__middle__outerBox {
      width: 100%;
      height: 6rem;
      border: 0.1rem solid var(--primary);
      border-radius: 0.5rem;
      display: flex;
      justify-content: center; }
    .funds__container__middle__innerBox {
      width: 100%;
      align-self: center;
      border-radius: 10rem;
      height: 3rem;
      margin: 0 2rem;
      background-color: #f9f9f9; }
      .funds__container__middle__innerBox__bar {
        position: relative;
        background-color: var(--primary);
        width: 10%;
        height: 3rem;
        border-radius: 10rem; }
        .funds__container__middle__innerBox__bar__bubbleBox {
          position: relative; }
          .funds__container__middle__innerBox__bar__bubbleBox::before {
            content: "";
            position: absolute;
            top: 3.2rem;
            left: 0;
            transform: translateX(-50%);
            border-bottom: 1rem solid var(--primary);
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent; }
          .funds__container__middle__innerBox__bar__bubbleBox::after {
            content: attr(aria-valuenow);
            position: absolute;
            text-align: center;
            left: 0;
            top: 12rem;
            transform: translate(-50%, -100%);
            font-size: 1.6rem;
            color: white;
            background-color: var(--primary);
            width: 14rem;
            padding: 2rem;
            border-radius: 1rem;
            font-weight: bold;
            box-shadow: 0px 0px 1rem 0px #00bf98; }
  .funds__container__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    color: var(--primary);
    text-align: center; }

.recipents__title {
  color: inherit;
  text-align: center;
  font-size: 5rem;
  font-weight: 100 !important;
  margin-top: 8rem; }

.recipents__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
  flex-wrap: wrap; }
  .recipents__container__middle {
    display: flex;
    flex: 1;
    flex-direction: column; }
    .recipents__container__middle__outerBox {
      width: 100%;
      height: 6rem;
      border: 0.1rem solid var(--secundary);
      border-radius: 0.5rem;
      display: flex;
      justify-content: center; }
    .recipents__container__middle__innerBox {
      width: 100%;
      align-self: center;
      border-radius: 10rem;
      height: 3rem;
      margin: 0 2rem;
      background-color: #f9f9f9; }
      .recipents__container__middle__innerBox__bar {
        position: relative;
        background-color: var(--secundary);
        width: 10%;
        height: 3rem;
        border-radius: 10rem; }
        .recipents__container__middle__innerBox__bar__bubbleBox {
          position: relative; }
          .recipents__container__middle__innerBox__bar__bubbleBox::before {
            content: "";
            position: absolute;
            top: 3.2rem;
            left: 0;
            transform: translateX(-50%);
            border-bottom: 1rem solid var(--secundary);
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent; }
          .recipents__container__middle__innerBox__bar__bubbleBox::after {
            content: attr(aria-valuenow);
            position: absolute;
            text-align: center;
            left: 0;
            top: 12rem;
            transform: translate(-50%, -100%);
            font-size: 1.6rem;
            color: white;
            background-color: var(--secundary);
            width: 15rem;
            padding: 2rem;
            border-radius: 1rem;
            font-weight: bold;
            box-shadow: 0px 0px 1rem 0px #93d5f1; }
