.storieDetailContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 2rem;
  padding: 5rem; }
  .storieDetailContainer__main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem; }
    .storieDetailContainer__main__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: inherit;
      word-wrap: break-word;
      flex: 2 1; }
      .storieDetailContainer__main__text__title {
        font-size: 3rem;
        color: var(--primary);
        padding: 1rem; }
      .storieDetailContainer__main__text__subTitle {
        font-size: 2rem;
        color: grey;
        font-style: italic;
        font-weight: 200;
        padding: 1rem; }
      .storieDetailContainer__main__text__content {
        font-size: 1.6rem;
        padding: 1.5rem 6rem; }
    .storieDetailContainer__main__picture {
      flex: 2 1; }
      .storieDetailContainer__main__picture__img {
        width: 100%;
        height: auto;
        box-shadow: 9px 4px 10px -6px rgba(0, 0, 0, 0.4); }
  .storieDetailContainer__title {
    font-family: inherit;
    font-size: 3rem;
    color: var(--primary);
    text-align: center;
    margin: 4rem; }
  .storieDetailContainer__cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    flex-wrap: wrap; }

@media (max-width: 430px) {
  .storieDetailContainer {
    padding: 0rem; }
    .storieDetailContainer__main {
      flex-direction: column; }
      .storieDetailContainer__main__text {
        order: 2; }
        .storieDetailContainer__main__text__content {
          padding: 1.5rem; }
    .storieDetailContainer__cardsContainer {
      flex-wrap: wrap; } }

@media (max-width: 770px) {
  .storieDetailContainer__cardsContainer {
    flex-wrap: wrap; } }

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  max-height: 70rem !important; }

.carousel .slide img {
  width: auto !important;
  max-height: 68rem !important; }

.carousel .slide {
  background-color: white !important; }

.carousel.carousel-slider .control-arrow:hover {
  background: var(--primary); }

.carousel .control-dots .dot {
  background-color: var(--primary) !important; }
