.tabs {
  position: relative;
  min-height: 200px;
  height: 200rem;
  /* This part sucks -- HORRIBLE*/
  clear: both;
  margin: 50px 0;
  display: flex;
  &__tab {
    float: left;
    & > label {
      background: #eee;
      padding: 10px;
      //border: 1px solid #ccc;
      margin-left: -1px;
      position: relative;
      left: 1px;
    }
    & > [type=radio] {
      display: none;
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: none;
  &__titles{
    font-family: inherit;
    font-size: 2rem;
    color: var(--primary);
    &--tabs{
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--primary);
      &:hover{
        cursor: pointer;
      }
    }
  }
}

[type=radio]:checked~label {
  background: var(--primary);
  //border-bottom: 1px solid white;
  z-index: 2;
  color: var(--white);
}

[type=radio]:checked~label~.content {
  z-index: 1;
}

.saveBTN{
  width: 12rem;
  height: auto;
  background-color: var(--primary);
  border: none;
  font-size: 1.5rem;
  color: var(--white);
  border-radius: 8rem;
  //width: 6.5rem;
  height: 6.5rem;
  transition: all .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem;
  padding: 1rem;
  &:hover{
    background-color: darken($color: #00bf98, $amount: 5);
    cursor: pointer;
  }
}

