.tabs {
  position: relative;
  min-height: 200px;
  height: 200rem;
  /* This part sucks -- HORRIBLE*/
  clear: both;
  margin: 50px 0;
  display: flex; }
  .tabs__tab {
    float: left; }
    .tabs__tab > label {
      background: #eee;
      padding: 10px;
      margin-left: -1px;
      position: relative;
      left: 1px; }
    .tabs__tab > [type=radio] {
      display: none; }

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: none; }
  .content__titles {
    font-family: inherit;
    font-size: 2rem;
    color: var(--primary); }
    .content__titles--tabs {
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--primary); }
      .content__titles--tabs:hover {
        cursor: pointer; }

[type=radio]:checked ~ label {
  background: var(--primary);
  z-index: 2;
  color: var(--white); }

[type=radio]:checked ~ label ~ .content {
  z-index: 1; }

.saveBTN {
  width: 12rem;
  height: auto;
  background-color: var(--primary);
  border: none;
  font-size: 1.5rem;
  color: var(--white);
  border-radius: 8rem;
  height: 6.5rem;
  transition: all .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem;
  padding: 1rem; }
  .saveBTN:hover {
    background-color: #00a684;
    cursor: pointer; }
