.headerAdmin {
  display: flex;
  align-items: center; }
  .headerAdmin__addBTN {
    width: 10rem;
    height: auto;
    background-color: var(--primary);
    border: none;
    font-size: 1.9rem;
    color: var(--white);
    border-radius: 8rem;
    width: 6.5rem;
    height: 6.5rem;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.2rem; }
    .headerAdmin__addBTN:hover {
      background-color: #00a684;
      cursor: pointer; }
    .headerAdmin__addBTN__ico {
      width: 4rem;
      height: 4rem;
      fill: var(--white); }
  .headerAdmin__storiesTitle {
    color: var(--primary);
    font-size: 4.2rem;
    font-weight: 600;
    text-align: center; }

.containerModal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 3rem; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.col1 {
  display: flex;
  flex-direction: column;
  align-items: center; }

.col2 {
  display: flex;
  flex-direction: column;
  align-items: center; }

.formContainer {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  min-width: 70rem; }
  .formContainer__text {
    font-family: inherit;
    font-size: 2rem; }
  .formContainer__item {
    background-color: var(--white);
    border-radius: 5rem;
    border: none;
    box-shadow: 9px 4px 10px -8px rgba(0, 0, 0, 0.43);
    height: 6rem;
    margin: 1rem;
    color: grey;
    font-family: inherit; }
    .formContainer__item:focus {
      border: none;
      outline: none; }
    .formContainer__item::placeholder {
      color: grey;
      padding: 1rem;
      margin: 1rem 0rem;
      font-family: inherit; }
    .formContainer__item__textarea {
      background-color: var(--white);
      border-radius: 2rem;
      border: none;
      box-shadow: 9px 4px 10px -8px rgba(0, 0, 0, 0.43);
      margin: 1rem;
      color: grey;
      padding: 3rem 1rem;
      font-family: inherit; }
      .formContainer__item__textarea:focus {
        border: none;
        outline: none; }
    .formContainer__item__picker > input {
      background-color: var(--white);
      border-radius: 5rem;
      border: none;
      box-shadow: 9px 4px 10px -8px rgba(0, 0, 0, 0.43);
      height: 6rem;
      margin: 1rem;
      color: grey;
      font-family: inherit; }

.selectLang {
  background-color: #c2f8f1aa;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--primary);
  transition: all .3s ease;
  width: 15rem;
  height: 6rem;
  border-radius: 3rem;
  padding: 1.5rem;
  margin: 2rem 0rem;
  text-align: center;
  font-family: inherit;
  font-size: 2rem; }
  .selectLang:focus {
    border: none;
    outline: none; }

.languageTitle {
  font-family: inherit;
  color: var(--primary);
  font-size: 2rem;
  margin: 1rem; }
