* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

:root {
  --primary: #00bf98;
  --secundary: #93d5f1;
  --terciary: #273d51;
  --white: #ffffff;
  --gray: #bebebe; }

body {
  background-color: white;
  height: 100%; }

html {
  box-sizing: border-box;
  font-size: 52.5%;
  font-family: "Pepi-Light", "Pepi-Medium", sans-serif;
  font-weight: 100 !important;
  scroll-behavior: smooth; }

.stories__more {
  color: inherit;
  text-decoration: none;
  transition: all .3s ease; }
  .stories__more:hover {
    color: var(--primary); }

/*!
 * https://github.com/YouCanBookMe/react-datetime
 */
.rdt {
  position: relative; }

.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #f9f9f9; }

.rdtOpen .rdtPicker {
  display: block; }

.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static; }

.rdtPicker .rdtTimeToggle {
  text-align: center; }

.rdtPicker table {
  width: 100%;
  margin: 0; }

.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px; }

.rdtPicker td {
  cursor: pointer; }

.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer; }

.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999; }

.rdtPicker td.rdtToday {
  position: relative; }

.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px; }

.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff; }

.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed; }

.rdtPicker td span.rdtOld {
  color: #999999; }

.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed; }

.rdtPicker th {
  border-bottom: 1px solid #f9f9f9; }

.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default; }

.rdtPicker th.rdtSwitch {
  width: 100px; }

.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top; }

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed; }

.rdtPicker thead tr:first-child th {
  cursor: pointer; }

.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee; }

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9; }

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer; }

.rdtPicker button:hover {
  background-color: #eee; }

.rdtPicker thead button {
  width: 100%;
  height: 100%; }

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer; }

td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee; }

.rdtCounters {
  display: inline-block; }

.rdtCounters > div {
  float: left; }

.rdtCounter {
  height: 100px; }

.rdtCounter {
  width: 40px; }

.rdtCounterSeparator {
  line-height: 100px; }

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.rdtCounter .rdtBtn:hover {
  background: #eee; }

.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em; }

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px; }

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px; }

.rdtTime td {
  cursor: default; }

@media (max-width: 430px) {
  html {
    box-sizing: border-box;
    font-size: 50%; } }

.hiwcard {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 31rem;
  height: 31rem;
  padding: 4rem;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0 9rem -2.6rem rgba(0, 0, 0, 0.6); }
  .hiwcard__iconBox {
    background-color: #f9f9f9;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .hiwcard__iconBox__imgBox {
      background-color: white;
      box-shadow: 1rem 1rem 1rem -0.8rem rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center; }
  .hiwcard__title {
    color: var(--primary);
    font-size: 2.1rem; }
  .hiwcard__subTitle {
    text-align: center;
    color: black;
    font-size: 1.8rem; }

.TimeContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  font-family: inherit;
  font-size: 1.6rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 2rem -0.2rem rgba(0, 0, 0, 0.2); }
  .TimeContainer__cardTitle {
    padding: 1rem 3rem;
    color: var(--primary);
    font-weight: 300; }
  .TimeContainer__cardContent {
    padding: 1rem 3rem;
    font-size: 1.4rem; }

.stories {
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  width: 50rem;
  height: 45rem;
  border-radius: 0.6rem;
  overflow: hidden;
  justify-content: space-between;
  box-shadow: 0 0 9rem -2.6rem rgba(0, 0, 0, 0.6);
  transition: all 0.2s;
  margin: 0.5rem;
  background-color: var(--white); }
  .stories__title {
    color: var(--primary);
    font-size: 1.6rem;
    padding: 0 2.5rem; }
  .stories__storie {
    word-wrap: break-word;
    font-size: 1.4rem;
    padding: 0 2.5rem;
    color: #a2a2a2;
    background-color: var(--white); }
  .stories__more {
    text-align: right;
    color: var(--primary);
    padding: 2rem;
    font-size: 1.4rem; }
  .stories__img {
    object-fit: cover;
    height: 55%; }
  .stories:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.2, 1.2);
    z-index: 999; }

.hovered {
  opacity: 1 !important;
  cursor: pointer;
  transform: scale(1.2, 1.2) !important;
  z-index: 999; }

.topBarTime {
  background-color: var(--primary);
  border-radius: 1rem 1rem 0rem 0rem;
  height: 1rem;
  padding: 0; }

.coinCardC {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  font-family: inherit;
  font-size: 1.6rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 2rem -0.2rem rgba(0, 0, 0, 0.2); }

.topBarCoin {
  background-color: var(--primary);
  border-radius: 1rem 1rem 0rem 0rem;
  height: 1rem;
  padding: 0; }

.coinInfo {
  display: flex;
  align-items: center;
  margin: 2rem; }
  .coinInfo__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3.5rem; }
    .coinInfo__text__name {
      font-size: 2rem;
      font-weight: 800;
      font-family: inherit;
      color: inherit; }
    .coinInfo__text__amountR {
      font-size: 1.7rem;
      font-family: inherit;
      color: inherit;
      padding: 0.5rem 0rem; }
    .coinInfo__text__pseudoName {
      font-size: 1.8rem;
      font-family: inherit;
      font-weight: 800;
      color: #bebebe;
      padding: 0.5rem 0rem; }

.coinWallet {
  display: flex;
  flex-direction: column;
  padding: 2rem; }
  .coinWallet__title {
    font-size: 2rem;
    font-family: inherit;
    font-weight: 800; }
  .coinWallet__address {
    font-family: inherit;
    font-weight: 800;
    color: #bebebe;
    padding: 0.5rem 0rem; }
  .coinWallet__qr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem; }

.containerList {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  background-color: var(--white);
  padding: 1.5rem;
  box-shadow: 5px -1px 62px -10px rgba(0, 0, 0, 0.2);
  justify-content: flex-start; }
  .containerList__icons {
    display: flex;
    align-self: flex-end;
    align-items: center; }
    .containerList__icons__ico {
      width: 2.5rem;
      height: auto;
      margin: 2rem;
      fill: var(--terciary);
      transition: all .3s ease; }
      .containerList__icons__ico:hover {
        fill: var(--primary);
        cursor: pointer; }
  .containerList__img {
    width: 20rem;
    height: auto; }
    .containerList__img--coin {
      width: 11rem;
      height: auto; }
  .containerList__info {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    margin: 2rem;
    flex: 3; }
    .containerList__info__title {
      color: grey;
      font-size: 2.5rem;
      text-transform: capitalize; }
    .containerList__info__separator {
      width: 45%;
      height: 0.3rem;
      background-color: var(--primary); }
    .containerList__info__text {
      width: 40rem;
      font-size: 1.5rem;
      padding: 0.6rem 0rem; }
      .containerList__info__text--faqs {
        width: 100%;
        font-size: 1.5rem;
        padding: 0.6rem 0rem; }
      .containerList__info__text--date {
        color: var(--primary);
        font-weight: bold;
        font-size: 1.8rem; }

.featured {
  font-family: inherit;
  font-size: 1.6rem;
  margin: 1rem; }

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #bebebe;
  margin: 1.4rem;
  transition: all .3s ease; }
  .checkbox:hover {
    cursor: pointer;
    background-color: #aeaeae; }

.activeCheck {
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--primary); }

.dateContainer {
  display: flex;
  align-items: center; }
  .dateContainer__col {
    display: flex;
    flex-direction: column;
    margin: 1rem; }
  .dateContainer__title {
    font-family: inherit;
    font-size: 1.7rem;
    color: var(--primary); }
  .dateContainer__text {
    font-family: inherit;
    font-size: 1.4rem; }

@media (max-width: 430px) {
  .stories__title {
    padding: 1rem 2.5rem; } }
