@import "../../style.scss";
// mixin button($color, $width, $height, $bgCol, $borRad)

//How it Works styles
.hiwcard {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 31rem;
  height: 31rem;
  padding: 4rem;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0 9rem -2.6rem rgba(0, 0, 0, 0.6);
  &__iconBox {
    background-color: #f9f9f9;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__imgBox {
      background-color: white;
      box-shadow: 1rem 1rem 1rem -0.8rem rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__title {
    color: var(--primary);
    font-size: 2.1rem;
  }
  &__subTitle {
    text-align: center;
    color: black;
    font-size: 1.8rem;
  }
}

//Timeline styles

.TimeContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  font-family: inherit;
  font-size: 1.6rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 2rem -0.2rem rgba(0, 0, 0, 0.2);
  &__cardTitle {
    padding: 1rem 3rem;
    color: var(--primary);
    font-weight: 300;
  }
  &__cardContent {
    padding: 1rem 3rem;
    font-size: 1.4rem;
  }
}

//Stories styles

.stories {
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  width: 50rem;
  height: 45rem;
  border-radius: 0.6rem;
  overflow: hidden;
  justify-content: space-between;
  box-shadow: 0 0 9rem -2.6rem rgba(0, 0, 0, 0.6);
  transition: all 0.2s;
  margin: 0.5rem;
  background-color: var(--white);
  &__title {
    color: var(--primary);
    font-size: 1.6rem;
    padding: 0 2.5rem;
  }

  &__storie {
    word-wrap: break-word;
    font-size: 1.4rem;
    padding: 0 2.5rem;
    color: #a2a2a2;
    background-color: var(--white);
  }

  &__more {
    text-align: right;
    color: var(--primary);
    padding: 2rem;
    font-size: 1.4rem;
    @extend %noLink;
  }

  &__img {
    object-fit: cover;
    height: 55%;
  }

  &:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.2, 1.2);
    z-index: 999;
  }
}
.hovered {
  opacity: 1 !important;
  cursor: pointer;
  transform: scale(1.2, 1.2) !important;
  z-index: 999;
}

.topBarTime {
  background-color: var(--primary);
  border-radius: 1rem 1rem 0rem 0rem;
  height: 1rem;
  padding: 0;
}


//CoinCards styles

.coinCardC{
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  font-family: inherit;
  font-size: 1.6rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 2rem -0.2rem rgba(0, 0, 0, 0.2);
}
.topBarCoin{
  background-color: var(--primary);
  border-radius: 1rem 1rem 0rem 0rem;
  height: 1rem;
  padding: 0;
}
.coinInfo{
  display: flex;
  align-items: center;
  margin: 2rem;
  &__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3.5rem;
    &__name{
      font-size: 2rem;
      font-weight: 800;
      font-family: inherit;
      color: inherit;
    }
    &__amountR{
      font-size: 1.7rem;
      font-family: inherit;
      color: inherit;
      padding: 0.5rem 0rem;
    }
    &__pseudoName{
      font-size: 1.8rem;
      font-family: inherit;
      font-weight: 800;
      color: #bebebe;
      padding: 0.5rem 0rem;
    }
  }
}
.coinWallet{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  &__title{
    font-size: 2rem;
    font-family: inherit;
    font-weight: 800;
  }
  &__address{
    font-family: inherit;
    font-weight: 800;
    color: #bebebe;
    padding: 0.5rem 0rem;
  }
  &__qr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
  }
}

//CoinCardsAdminList styles

.containerList{
  display: flex;
  align-items: center;
  margin-top: 4rem;
  background-color: var(--white);
  padding: 1.5rem;
  box-shadow: 5px -1px 62px -10px rgba(0,0,0,0.2);
  justify-content: flex-start;
  &__icons{
    display: flex;
    align-self: flex-end;
    align-items: center;
    &__ico{
      width: 2.5rem;
      height: 2.5rem;
      margin: 2rem;
      fill: var(--terciary);
      transition: all .3s ease;
      &:hover{
        fill:var(--primary);
        cursor: pointer;
      }
    }
  }
  &__img{
    width: 20rem;
    height: auto;
    //margin: 3rem 3rem 0rem 0rem;
    &--coin{
      width: 11rem;
      height: auto;
    }
  }
  &__info{
    display: flex;
    flex-direction: column;
    font-family: inherit;
    margin: 2rem;
    flex: 3;
    &__title{
      color: grey;
      font-size: 2.5rem;
      text-transform: capitalize;
    }
    &__separator{
      width: 45%;  
      height: 0.3rem;
      background-color: var(--primary);
    }
    &__text{
      width: 40rem;
      font-size: 1.5rem;
      padding: 0.6rem 0rem;
      &--faqs{
        width: 100%;
        font-size: 1.5rem;
        padding: 0.6rem 0rem;
      }
      &--date{
        color: var(--primary);
        font-weight: bold;
        font-size: 1.8rem;
      }
    }
  }
}
.featured{
  font-family: inherit;
  font-size: 1.6rem;
  margin: 1rem;
}
.slideContainer{
  padding: 3rem;
  margin-top: 9rem;
}
//checkbox styles

// input[type=checkbox] {
//   visibility: hidden;
// }
.checkbox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #bebebe;
  margin: 1.4rem;
  transition: all .3s ease;
  &:hover{
    cursor: pointer;
    background-color: #aeaeae;
  }
}
.activeCheck{
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--primary);
}

.dateContainer{
  display: flex;
  align-items: center;
  &__col{
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  &__title{
    font-family: inherit;
    font-size: 1.7rem;
    color: var(--primary);
  }
  &__text{
    font-family: inherit;
    font-size: 1.4rem;
  }
}

@media (max-width: 430px) {
  .coinCardC{
    margin: 2rem 0rem;
  }
  .stories{
    &__title{
      padding: 1rem 2.5rem;
    }
  }
}