@import "../../style.scss";
// mixin button($color, $width, $height, $bgCol, $borRad)

//How it Works styles
.hiwcard {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 27rem;
  height: 31rem;
  padding: 4rem;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0 9rem -2.6rem rgba(0, 0, 0, 0.6);
  &__iconBox {
    background-color: #f9f9f9;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__imgBox {
      background-color: white;
      box-shadow: 1rem 1rem 1rem -0.8rem rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__title {
    color: var(--primary);
    font-size: 2.1rem;
  }
  &__subTitle {
    text-align: center;
    color: black;
    font-size: 1.8rem;
  }
}

//Timeline styles

.TimeContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  font-family: inherit;
  font-size: 1.6rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 2rem -0.2rem rgba(0, 0, 0, 0.2);
  &__cardTitle {
    padding: 1rem 3rem;
    color: var(--primary);
    font-weight: 300;
  }
  &__cardContent {
    padding: 1rem 3rem;
    font-size: 1.4rem;
  }
}

//Stories styles

.stories {
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  width: 50rem;
  height: 45rem;
  border-radius: 0.6rem;
  overflow: hidden;
  justify-content: space-between;
  box-shadow: 0 0 9rem -2.6rem rgba(0, 0, 0, 0.6);
  transition: all 0.2s;
  &__title {
    color: var(--primary);
    font-size: 1.6rem;
    padding: 0 2.5rem;
  }

  &__storie {
    word-wrap: break-word;
    font-size: 1.4rem;
    padding: 0 2.5rem;
    color: #a2a2a2;
  }

  &__more {
    text-align: right;
    color: var(--primary);
    padding: 2rem;
    font-size: 1.4rem;
    @extend %noLink;
  }

  &__img {
    object-fit: cover;
    height: 55%;
  }

  &:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.2, 1.2);
  }
}
.hovered {
  opacity: 1 !important;
  cursor: pointer;
  transform: scale(1.2, 1.2) !important;
}

.topBarTime {
  background-color: var(--primary);
  border-radius: 1rem 1rem 0rem 0rem;
  height: 1rem;
  padding: 0;
}
