.imageUpload {
  background-color: var(--primary);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7rem 2rem;
  color: var(--white);
  font-weight: 700;
  font-size: 2rem;
  justify-content: center;
  margin: 2rem;
  border-radius: 50rem; }
  .imageUpload--single {
    background-color: var(--primary);
    width: 77%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 7rem 2rem;
    color: var(--white);
    font-weight: 700;
    font-size: 2rem;
    justify-content: center;
    margin: 2rem;
    border-radius: 50rem; }
  .imageUpload__hide {
    display: none; }
  .imageUpload:hover {
    cursor: pointer; }
  .imageUpload__ico {
    width: 2rem;
    height: 2rem;
    fill: var(--white);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
