.imageUpload {
  background-color:var(--primary);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 6rem 2rem;
  color: var(--white);
  font-weight: 700;
  font-size: 2rem;
  justify-content: center;
  margin: 2rem;
  border-radius: 50rem;
  align-items: center;
  text-align: center;
  &--single{
    background-color:var(--primary);
    width: 77%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 7rem 2rem;
    color: var(--white);
    font-weight: 700;
    font-size: 2rem;
    justify-content: center;
    margin: 2rem;
    border-radius: 50rem;
  }
  &__hide {
    display: none;
  }
  &:hover {
    cursor: pointer;
  }
  &__ico {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.5rem;
    fill: var(--white);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (max-width: 430px) {
  .formContainer{
    min-width: 44rem;
  }
}
@media (min-width: 760px) {
  .formContainer{
    min-width: 56rem;
  }
}
@media (max-width: 770px) {
  .hamburguerIco{
    display: flex;
    &__btn{
      border: none;
      background: none;
      &__ico{
        width: 5rem;
        height: 5rem;
        fill: var(--primary);
        margin: 2rem 1rem;
      }
    }
  }
  .containerList{
    &__icons{
      align-items: center;
    }
  }
  .fundsRecipents{
    &__buttonBox{
      margin-top: 0rem;
    }
  }
  .styles_overlay__CLSq-{
    display: block;
  }
}