.contact {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  height: 30rem;
  align-items: center;
  color: #444444;
  justify-content: center;
  font-size: 2rem;
  background-image: url("/contactUs.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-position-x: 8rem; }
  .contact__title {
    font-size: 4rem; }
  .contact__subTitle__color {
    color: var(--primary); }

@media (max-width: 430px) {
  .contact {
    padding: 3rem;
    height: 38rem;
    background-position-x: 4rem;
    background-position-y: 5rem; }
    .contact__title {
      margin-top: 17rem; }
    .contact__subTitle {
      text-align: center; } }

@media (max-width: 770px) {
  .contact {
    background-position-x: 30rem;
    background-position-y: 2rem; }
    .contact__title {
      margin-top: 16rem; } }
