.quote {
  background-color: #f9f9f9;
  text-align: center;
  padding: 10rem 0;

  &__text {
    font-size: 5rem;
    &__author {
      font-size: 4rem;
      color: var(--primary);
    }
  }

  &__container {
    display: flex;
    align-items: center;
    margin: 0 15rem;

    &__leftCol {
      flex: 2;
    }

    &__rightCol {
      flex: 3;
      font-size: 1.6rem;
      text-align: left;

      & p {
        margin: 2rem 0;
      }

      &__color {
        color: var(--primary);
      }
    }
  }
}
