.donateContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem;
  background-image: url(/cloud.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-position-y: 7rem; }
  .donateContainer__title {
    color: inherit;
    text-align: center;
    font-size: 5rem;
    font-weight: 100 !important;
    margin-bottom: 3rem; }
  .donateContainer__subtitle {
    text-align: center;
    color: inherit;
    font-size: 2rem;
    font-weight: 100 !important; }
  .donateContainer__warning {
    text-align: center;
    text-transform: capitalize;
    color: var(--primary);
    font-size: 2.5rem;
    font-weight: bold;
    margin: 6rem 0rem; }
  .donateContainer__message {
    font-size: 2rem;
    margin-top: 2rem; }

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; }
